body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
  background-image: url(https://files.catbox.moe/mo1l07.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  /* 
https://files.catbox.moe/w3fa0e.jpg ANIME GIRL
https://files.catbox.moe/b5wwg7.jpg ANIME GIRL 2 fav
https://files.catbox.moe/zqxdiv.jpg ANIME GIRL 3
https://files.catbox.moe/yehim2.jpg ANIME GIRL 4 
https://files.catbox.moe/fwb3i7.jpg ANIME GIRL 5
https://files.catbox.moe/mo1l07.png #1c1c1c
  */
}

.container {
  display: flex;
  width: 100%;
}

aside {
  width: 250px;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(2, 2, 2, 0.616);
}

main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.sidebar-item {
  cursor: pointer;
  padding: 4px 8px;
  display: block;
  text-decoration: none;
  color: rgb(241, 241, 241);
}

.sidebar-item.active {
  background: rgba(46, 46, 46, 0.9)
}

.sidebar-children {
  margin-left: 15px;
  display: none;
}

.sidebar-children.open {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.sidebar-children {
  margin-left: 12px; /* reduced from default */
  display: none;
}

.sidebar-children.open {
  display: block;
}

.sidebar-item:hover {
  background-color: #5f5f5f;
}

a {
  color: #007bff;                /* Link color (blue by default) */
  text-decoration: underline;      /* Underline */
  font-weight: bold;               /* Optional: make it bold */
  transition: color 0.3s ease;     /* Smooth hover effect */
}

.page {
    max-width: 3000px;
    padding: 40px;
    background-color: rgba(27, 27, 27, 0.9); /* white with slight transparency */
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}


mjx-container[jax="CHTML"] {
  text-align: left !important;
  margin-left: 0 !important;  /* remove default centering margin */
}

.inline-math-box {
  display: inline-block;
  border: 1px solid #ebebeb;
  padding: 25px 25px;
  border-radius: 10px;
  background-color: #f0f0f000;
}

.chart-container {
  max-width: 800px;
  margin: 40px 0;
  padding: 20px;
  background-color: rgba(27, 27, 27, 0.9);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  text-align: left;
}

.ema-formula-group {
  position: relative;
  padding-left: 40px; /* Space for the bracket */
  margin-left: 20px;
}

.ema-formula-group::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  border: 3px solid #ffffff8a; /* Adjust color as needed */
  border-right: none;
  border-radius: 15px 0 0 15px; /* Curved edges on the left side */
}